.home-wrapper {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-left: 5rem;
}

.home-wrapper h1 {
  font-size: 12vw;
  font-weight: 900;
  margin: 0.6rem 0;
}

.home-wrapper .blue-color {
  color: #00cbea;
}
