.home-wrapper {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.home-wrapper h1 {
  width: fit-content;
  font-size: 12vw;
  font-weight: 900;
  margin: 0.6rem 0;
}

.home-wrapper a {
  color: #FFFFFF;
}

.home-wrapper .blue-color a{
  color: #00CBEA;
}

.home-wrapper .blue-color {
  color: #00cbea;
}

.home-wrapper .sliding-text {
  transition: margin-left 0.5s;
}

.home-wrapper .sliding-text:hover {
  margin-left: 6vw;
}