html,
body {
  height: 100%;
  font-size: 20px;
  background-color: #000000;
}

.App {
  background-color: #000000;
  color: #ffffff;
  height: 100%;
  padding: 0 10vw;
  overflow: auto;
}

.page-wrapper {
  padding: 0 15vw;
}

a {
  color: #ffffff;
}

h2 {
  width: fit-content;
  font-size: 8vw;
  font-weight: 900;
  margin: 6vw 0;
}