html,
body {
  height: 100%;
  font-size: 20px;
  background-color: #000000;
}

.App {
  background-color: #000000;
  color: #ffffff;
  height: 100%;
  padding-left: 6vw;
  overflow: auto;
}

a {
  color: #ffffff;
}

h2 {
  width: fit-content;
  font-size: 8vw;
  font-weight: 900;
  margin-top: 6vw;
}

.blue-color {
  color: #00cbea;
}

.sliding-text {
  transition: margin-left 0.5s;
}

.sliding-text:hover {
  margin-left: 6vw;
}
